<div>
    <p>Anime name: {{review.name}}</p>
    <p>Rating (between 1 and 5): {{review.rating}}</p>
    <p>Review: {{review.reviews}}</p>
</div>

<p><a href="/animeReviews/{{review._id}}/individual">Edit Review</a></p>

<form method="POST" action="/animeReviews/{{review._id}}?_method=DELETE">

    <input type="submit" value="Delete Review"/>

</form>