<div>
    <p>Name: {{review.name}}</p>
    <p>Year: {{review.rating}}</p>
    <p>First Anime: {{review.reviews}}</p>
</div>

<p><a href="/animeReviews/{{review._id}}/individual">Edit Anime</a></p>

<form method="POST" action="/animeReviews/{{review._id}}?_method=DELETE">

    <input type="submit" value="Delete Review"/>

</form>