<div>
    <p>Name {{singleFavorite.name}}</p>
    <p>Favorite Anime {{singleFavorite.favorite}}</p>
    <p>Genre {{singleFavorite.genre}}</p>
    <p>Age {{singleFavorite.age}}</p>
    <p>Description {{singleFavorite.description}}</p>
</div>

<form method="POST" action="/issues/{{singleFavorite._id}}?_method=DELETE">

    <input type="submit" value="Delete Favorite"/>

</form>